ul {
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.boat-card {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  overflow: hidden;
  margin: 16px;
  transition: transform 0.2s;

  &:hover {
    transform: translateY(-5px);
  }

  img {
    width: 100%;
    display: block;
  }

  .boat-info {
    padding: 20px;
    strong {
      display: block;
      margin-bottom: 8px;
    }

    div,
    p {
      margin-bottom: 4px;
    }
  }
}
