ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 60px 16px 16px;
  list-style-type: none;
  margin: 0;
}

.boat-card {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  overflow: hidden;
  width: 80%;
  max-width: 400px;
  margin: 32px auto;
  transition: transform 0.3s;
  position: relative;

  &:hover {
    transform: translateY(-5px);
  }

  img {
    width: 100%;
    display: block;
  }

  .boat-info {
    padding: 20px;
    strong {
      display: block;
    }

    div,
    p {
      margin-bottom: 10px;
    }
  }

  .boat-name-and-price,
  .type-and-year,
  .boat-features,
  .feature-item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-weight: bold;
  }

  .boat-name-and-price,
  .price {
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 20px;

    .price-label {
      margin-right: 5px;
      font-size: 0.75rem;
    }

    .price-value {
      letter-spacing: -0.03em;
    }
  }

  .boat-images-inside {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    margin-bottom: 10px;

    img {
      max-width: 40%;
      height: auto;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  .boat-features {
    justify-content: space-around;
    padding: 10px 0;
  }

  .feature-item {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;

    i {
      font-size: 22px;
      margin: 5px;
      color: azure;
    }

    .feature-text {
      font-size: 10px;
      margin-top: 0px;
      color: azure;
    }
  }

  .image-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 100%;
    max-width: 80vw;
    max-height: 80vh;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    display: block;

    img {
      width: auto;
      max-width: 100%;
      max-height: 80vh;
      border-radius: 5px;
    }
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
  }
}

.boat-card.image-selected .image-popup {
  display: block;
  animation: fadeIn 0.3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .boat-card {
    width: calc(100% - 64px);
  }
}
