.bg-body-tertiary {
  background-color: transparent !important;
}

.offcanvas {
  max-width: 50%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  backdrop-filter: blur(10px);
  background-color: rgba(12, 36, 56, 0.2);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
}

@media (max-width: 768px) {
  .offcanvas {
    max-width: 50%;
  }
}

.navbar-toggler i.fas,
.navbar-brand i.bi {
  color: azure;
}

.navbar-toggler i.fas {
  font-size: 38px;
  padding-right: 15px;
}

.navbar-brand {
  display: flex;
  align-items: center;
  margin-left: 15px;
  i.bi {
    font-size: 38px;
  }
}

.btn-close-custom {
  background: none;
  border: none;
  outline: none;
  color: azure;
  font-size: 34px;

  &:focus {
    box-shadow: none;
  }
}

.dropdown-menu {
  border: none;
  background-color: transparent;
}

.dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: #000;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-grow: 1;
}

.search-bar {
  flex-grow: 0;
  width: auto;
  padding: 5px 5px 5px 40px;
  margin-left: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
  background-color: azure;
}

.search-icon {
  position: absolute;
  left: 22px;
  top: 50%;
  transform: translateY(-50%);
  color: #000;
  z-index: 10;
}

.navbar-brand {
  margin-left: 15px;
  display: flex;
  align-items: center;
  order: 3;
  i.bi {
    font-size: 38px;
    color: azure;
  }
}
