/* Estilos para la barra de navegación */

.bg-body-tertiary {
  background-color: transparent !important;
}

.offcanvas {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  backdrop-filter: blur(10px);
  background-color: rgba(12, 36, 56, 0.2);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
}

@media (max-width: 768px) {
  .offcanvas {
    max-width: 50%;
  }

  .offcanvas-body {
    width: 250px;
    padding-left: 40px;
  }
}

/* Estilos para la marca de la barra de navegación */
.navbar-brand {
  margin-left: 15px;
  display: flex;
  align-items: center;
  i.bi {
    font-size: 38px;
    color: azure;
  }
}

/* Estilos para la navegación */
.navbar-nav {
  padding-top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: auto;
}

@media (min-width: 769px) {
  .navbar-nav {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }

  .nav-item {
    display: inline-block;
    width: auto;
    padding: 0 10px;
  }

  .search-container {
    justify-content: center;
    position: relative;
    padding-left: 40px; // Espacio para el icono de la lupa
  }

  .search-icon {
    position: absolute;
    left: 0; // Alineación a la izquierda dentro de .search-container
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }

  .search-bar {
    padding-left: 2.5rem; // Espacio para el icono de la lupa
    width: 100%;
  }
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-grow: 1;
  padding-left: 0; // Eliminar el padding izquierdo en móviles para el icono de la lupa
}

.search-bar {
  flex-grow: 0;
  width: calc(100% - 30px);
  padding: 5px;
  margin-left: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
  background-color: azure;
  padding-left: 40px; // Añadir padding para el icono de la lupa en móviles
}

.search-icon {
  position: absolute;
  left: 20px; // Ajustar para alinear con el padding de .search-bar en móviles
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

/* Estilos para los iconos de la barra de navegación */
.navbar-toggler i.fas,
.navbar-brand i.bi {
  color: azure;
  font-size: 30px;
}

.navbar-toggler i.fas {
  font-size: 30px;
  padding-right: 0;
}

/* Estilos para el botón de cierre personalizado */
.btn-close-custom {
  background: none;
  border: none;
  outline: none;
  color: azure;
  font-size: 34px;
  &:focus {
    box-shadow: none;
  }
}

/* Estilos para el menú desplegable */
.dropdown-menu {
  position: absolute;
  left: 0;
  top: 100%;
  border: none;
  background-color: transparent;
}

.dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: #000;
}

/* Estilos para la barra de navegación en dispositivos de mayor tamaño */
.navbar > .container-fluid {
  flex-wrap: initial;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: row;
  }

  .nav-item {
    @media (max-width: 768px) {
      width: 1;
    }
  }
}

/* Estilos para pantallas grandes (escritorio) */
@media (min-width: 992px) {
  ul {
    padding: 60px 16px 16px;
  }

  .boat-card {
    width: calc(100% - 64px);
    margin: 32px;
  }
}
